.auth-container {
  width: 350px;
  margin: 5% auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.auth-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.error-text {
  color: red;
  margin-top: 10px;
}
.show-password {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 10px 0;
  font-size: 14px;
}
.show-password input {
  width: auto;
  margin: 0;
  padding: 0;
}

.profile-container {
  width: 650px;
  margin: 2% auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.profile-container input {
  width: 35%;
  padding: 10px;
  margin: 10px 10px;
}
.profile-container select {
  width: 40%;
  padding: 10px;
  margin: 10px 30%;
}
.profile-container button {
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
